Package: com.studentsoftware.markasread13
Name: MarkAsRead13
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Remove icon's badge by clearing a notification.
 Remove icon's badge by clearing a notification.
 Tested on iOS 12.4 and 13.2.2. No options to configure.
 Original by Orikad (iOS 6). Thanks to Pigi Galdi for the iOS 7/8 port and source code!
Maintainer: Humschi@hotmail.de
Author: Humschi
Section: Tweaks
